.timeline {
  padding: 0;
  /* margin-top: 24px; */
  list-style: none;
  margin-bottom: 50px;
  width: 100%;
}

.timeline > li:nth-child(even) {
  position: relative;
  margin-left: 50%;
  height: 320px;
}

.timeline > li:nth-child(odd) {
  position: relative;
  margin-right: 50%;
  height: 320px;
}

.timeline > li .timeline-panel {
  position: relative;
  width: 81%;
  margin: 0 12px 0 0;
  padding: 12px;
  /* text-align: right; */
  border-radius: 12px;
  border: 2px solid #404040;
  background-color: #262626;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.timeline > .timeline-inverted > .timeline-panel {
  margin: 0 0 0 12px;
}

.timeline > li:nth-child(odd) .timeline-image {
  float: right;
}

.timeline > li:nth-child(odd) .timeline-panel {
  float: right;
}

.timeline > li:nth-child(even) .timeline-image {
  float: left;
}

.timeline > li:nth-child(even) .timeline-panel {
  float: left;
}

.timeline > li .timeline-image {
  z-index: 1;
  border: 6px solid #262626;
  border-radius: 100%;
  box-shadow: 5px #404040;
  width: 80px;
  height: 80px;
  background: radial-gradient(
    circle,
    rgba(236, 19, 49, 1) 0%,
    rgb(110, 3, 3) 100%
  );
}

.timeline > li .timeline-image-green {
  background: radial-gradient(
    circle,
    rgba(81, 157, 28, 1) 0%,
    rgba(0, 74, 8, 1) 100%
  );
}

.timeline > li.timeline-inverted > .timeline-panel {
  text-align: left;
}

.timeline > li .triangle {
  position: absolute;
  top: 25px;
  left: 100%;
  border-left: 15px solid #404040;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.timeline > li .triangle-inverted {
  position: absolute;
  top: 25px;
  right: 100%;
  border-right: 15px solid #404040;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.timeline > li .line {
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 8px;
  height: 320px;
  background-color: #262626;
  border: 1px solid #404040;
  box-shadow: 0 0 2px #262626;
}

.timeline > li:nth-child(odd) .line {
  transform: rotate(-15deg);
  left: 100%;
}

.timeline > li:nth-child(even) .line {
  right: 100%;
  transform: rotate(15deg);
}

.timeline > li .timeline-image {
  position: relative;
}

@media screen and (max-width: 1279px) {
  .timeline > li:nth-child(even),
  .timeline > li:nth-child(odd) {
    margin: 0;
    height: auto;
    display: flex;
  }

  .timeline > li:nth-child(odd) .timeline-image,
  .timeline > li:nth-child(odd) .timeline-panel,
  .timeline > li:nth-child(even) .timeline-image,
  .timeline > li:nth-child(even) .timeline-panel {
    float: none;
  }

  .timeline > li .timeline-image {
    margin-left: 3px;
    width: 36px;
    height: 32px;
    border: 2px solid #404040;
  }

  .timeline > li .timeline-panel {
    height: auto;
    width: 100%;
    border: 2px solid #404040;
    margin: 0 12px 2rem 12px !important;
    text-align: left;
    visibility: visible;
    opacity: 1;
  }

  .timeline > li:nth-child(odd) .line,
  .timeline > li:nth-child(even) .line {
    width: 4px;
    transform: rotate(0deg);
    top: 10px;
    height: 100%;
    left: auto;
    right: auto;
    margin-left: 17px;
  }

  .timeline > li .triangle {
    top: 5px;
    z-index: 1;
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 15px solid #404040;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline > li .triangle-inverted {
    top: 5px;
    z-index: 1;
    border-right: 15px solid #404040;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline > li .timeline-image .num {
    top: 2px;
    left: 10px;
    font-size: 1rem;
  }
}
